config UNION_FS
	tristate "Union file system (EXPERIMENTAL)"
	depends on EXPERIMENTAL
	help
	  Unionfs is a stackable unification file system, which appears to
	  merge the contents of several directories (branches), while keeping
	  their physical content separate.

	  See <http://unionfs.filesystems.org> for details

config UNION_FS_XATTR
	bool "Unionfs extended attributes"
	depends on UNION_FS
	help
	  Extended attributes are name:value pairs associated with inodes by
	  the kernel or by users (see the attr(5) manual page).

	  If unsure, say N.

config UNION_FS_DEBUG
	bool "Debug Unionfs"
	depends on UNION_FS
	help
	  If you say Y here, you can turn on debugging output from Unionfs.
