/* Copyright 2013 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/* Overrides of styles in chrome/browser/resources/chromeos/login/header_bar.js
* that are needed by the desktop user chooser screen
*/
#login-header-bar {
  -webkit-padding-after: 16px;
  -webkit-padding-before: 16px;
  background-color: white;
  border-top: 1px solid #e2e2e2;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
}

.header-bar-item:first-child {
  -webkit-padding-start: 16px;
}

.header-bar-item {
  display: inline-block;
}

html[dir=rtl] .header-bar-item {
  background-color: white;
  background-position: right center;
}

html[dir=rtl] #login-header-bar button {
  background-position: right center;
}

#login-header-bar #add-user-button {
  background-image: -webkit-image-set(
      url('chrome://theme/IDR_ICON_PROFILES_ADD_USER') 1x,
      url('chrome://theme/IDR_ICON_PROFILES_ADD_USER@2x') 2x);
}

#login-header-bar #guest-user-button {
  background-image: -webkit-image-set(
      url('chrome://theme/IDR_ICON_PROFILES_BROWSE_GUEST') 1x,
      url('chrome://theme/IDR_ICON_PROFILES_BROWSE_GUEST@2x') 2x);
  border-right: 1px solid #e2e2e2;
  margin-right: 10px;
}

html[dir=rtl] #login-header-bar #guest-user-button {
  border-left: 1px solid #e2e2e2;
  margin-left: 10px;
}

#login-header-bar button {
  -webkit-padding-start: 24px;
  background-color: white;
  background-position: left center;
  background-repeat: no-repeat;
  border: none;
  box-shadow: none;
  cursor: pointer;
  font-size: 12px;
}

#logo {
  content: -webkit-image-set(
      url('../../../app/theme/%DISTRIBUTION%/product_logo_name_48.png') 1x,
      url('../../../app/theme/%DISTRIBUTION%/product_logo_name_96.png') 2x);
  height: 18px;
  position: absolute;
  right: 16px;
  top: 20px;
}

html[dir=rtl] #logo {
  left: 16px;
}
