/* Copyright 2014 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

body {
  margin: 0
}

p {
  white-space: pre-wrap;
}

label {
  display: block;
}

h1 {
  margin: 1%;
}

div.entity-div {
  -webkit-box-shadow: 0 0 20px 2px #aaa;
  box-shadow: 0 0 20px 2px #aaa;
  display: inline-block;
  margin: 10px 5px;
  overflow: hidden;
  padding: 10px;
  vertical-align: top;
}

#nfc-adapter-info {
  width: 165px;
}

#ndef-record-form {
  width: 300px;
}

#nfc-tag-info,
#nfc-peer-info {
  width: 270px;
  word-wrap: break-word;
}

#ndef-record-form input {
  width: 99%;
}

.parameters-table td {
  padding: 0 10px 10px 0;
}

.transition-in {
  -webkit-transition: opacity 250ms ease-in-out;
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}

.transition-out {
  -webkit-transition: opacity 250ms ease-in-out;
  opacity: 0.25;
  transition: opacity 250ms ease-in-out;
}

hr {
  background: #888;
  border: 0;
  border-bottom: 1px dashed #ccc;
}

div.record-key-value-div {
  margin-bottom: 10px;
}

span.record-key-span,
div.record-key-div {
  font-style: italic;
  font-weight: bold;
  margin-right: 10px;
}

.record-value-div > * {
  margin: 10px;
}
