/* Copyright 2014 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

body {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: 'Verdana', 'Arial';
  font-size: 14px;
  margin: 20px;
}

#fileSystems,
#requestEvents,
#requestTimeline {
  background-color: white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

#fileSystems table,
#requestEvents table {
  border-collapse: collapse;
  width: 100%;
}

#fileSystems th,
#requestEvents th {
  height: 30px;
}

#fileSystems .message {
  border-top: 1px solid #eee;
}

#fileSystems td {
  border-top: 1px solid #eee;
  height: 40px;
  line-height: 24px;
  text-align: center;
}

#fileSystems td .icon {
  display: inline-block;
  height: 24px;
  vertical-align: middle;
  width: 24px;
}

#fileSystems tbody tr {
  cursor: pointer;
}

#fileSystems tbody tr:active td {
  background-color: #eee;
}

#requestEvents {
  font-size: 12px;
}

#requestEvents td {
  padding: 8px;
  text-align: center;
  vertical-align: top;
}

#requestEvents td {
  border-top: 1px solid #eee;
}

#requestEvents td span {
  border-radius: 5px;
  padding: 3px;
}

#requestTimeline {
  min-height: 30px;
  position: relative;
  width: 100%;
}

#requestTimeline .request-timeline-scroller {
  overflow: auto;
  width: 100%;
}

#requestTimeline .request-timeline-padding {
  margin: 10px 5px;
  position: relative;
}

#requestTimeline .request-timeline-request {
  border: none;
  border-radius: 4px;
  height: 8px;
  margin: 3px 0;
  min-width: 8px;
  opacity: 0.75;
  position: absolute;
  transition: opacity 100ms;
}

#requestTimeline .request-timeline-toolbar {
  display: flex;
  justify-content: flex-end;
  left: 0;
  opacity: 0.75;
  padding: 5px;
  pointer-events: none;
  position: absolute;
  right: 0;
  z-index: 2;
}

#requestTimeline .request-timeline-toolbar button {
  background-color: #aaa;
  border: none;
  border-radius: 100%;
  color: white;
  min-height: 20px;
  min-width: 20px;
  pointer-events: auto;
}

#requestTimeline [data-request-type='REQUEST_UNMOUNT'],
#requestEvents [data-request-type='REQUEST_UNMOUNT'] span {
  background-color: cadetblue;
  color: white;
}

#requestTimeline [data-request-type='GET_METADATA'],
#requestEvents [data-request-type='GET_METADATA'] span {
  background-color: gold;
}

#requestTimeline [data-request-type='READ_DIRECTORY'],
#requestEvents [data-request-type='READ_DIRECTORY'] span {
  background-color: hotpink;
  color: white;
}

#requestTimeline [data-request-type='OPEN_FILE'],
#requestEvents [data-request-type='OPEN_FILE'] span {
  background-color: darkturquoise;
  color: white;
}

#requestTimeline [data-request-type='CLOSE_FILE'],
#requestEvents [data-request-type='CLOSE_FILE'] span {
  background-color: mediumspringgreen;
}

#requestTimeline [data-request-type='READ_FILE'],
#requestEvents [data-request-type='READ_FILE'] span {
  background-color: royalblue;
  color: white;
}

#requestTimeline [data-state='rejected'],
#requestEvents [data-error]:not([data-error='']) span {
  background-color: tomato;
  color: white;
}
