/* Copyright 2013 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

html,
body,
#container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

table {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 115%;
  width: auto;
  overflow: auto;
  display: block;
}
th {
  background-color: rgb(112, 196, 105);
  font-weight: normal;
  color: white;
  padding: 2px;
  text-align: center;
  min-width: 230px;
}
td {
  background-color: rgb(238, 238, 238);
  padding: 2px;
  color: rgb(111, 111, 111);
  word-wrap: break-word;
  min-width: 230px;
}

h1,
h2,
h3 {
  color: rgb(50,50,50);
}

#container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: stretch;
}

#container > * {
  padding: 0;
  padding-left: 25px;
  margin: 0;
}

#list-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  align-content: stretch;
}

#player-list-wrapper,
#audio-component-list-wrapper {
  flex-grow: 1;
  align-self: stretch;
  min-width: 200px;
  overflow: auto;
}

#player-list-wrapper ul,
#player-list-wrapper li,
#audio-component-list-wrapper ul,
#audio-component-list-wrapper li {
  padding: 0px;
  list-style-type: none;
}
#list-wrapper button {
  padding: 0px;
}

#property-wrapper,
#log-wrapper {
  display:block;
  flex-grow: 0.5;
  align-self: stretch;
  overflow: auto;
}

#log-wrapper > thead {
  position: fixed;
}

#graphs li {
  list-style-type: none;
}

#clipboard-textarea {
  position: absolute;
  width: 50%;
  height: 50%;

  left: 25%;
  top: 25%;
}

.hiddenClipboard {
  display: none;
}

.timestamp {
  min-width: 115px;
}