/* Copyright 2013 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

.extension-error-list-heading {
  align-content: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3px;
}

.extension-error-list-heading span {
  font-weight: bold;
}

.extension-error-list a {
  cursor: pointer;
}

.extension-error-list-contents {
  -webkit-padding-start: 0;
  cursor: pointer;
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 0;
}

#no-errors-span {
  -webkit-margin-start: 10px;
}

.extension-error-list-contents.scrollable {
  overflow-y: auto;
}

.extension-error-list-contents .extension-error-metadata:hover {
  background-color: #eee;
}

.extension-error-list-contents
    .extension-error-metadata.extension-error-active {
  background-color: rgba(0, 100, 255, 0.1);
}

.extension-error-metadata {
  -webkit-padding-end: 1px;
  -webkit-padding-start: 3px;
  display: flex;
  flex-direction: row;
}

.extension-error-icon {
  -webkit-margin-end: 3px;
  height: 15px;
  width: 15px;
}

.extension-error-message {
  -webkit-margin-end: 15px;
  flex: 1;
  margin-bottom: 0;
  margin-top: 0;
  overflow: hidden;
}

.extension-error-metadata {
  align-items: center;
  display: flex;
}

.extension-error-metadata > .error-delete-button {
  -webkit-appearance: none;
  background: url(chrome://theme/IDR_CLOSE_DIALOG) center no-repeat;
  border: none;
  height: 14px;
  opacity: 0.6;
  width: 14px;
}

.extension-error-metadata > .error-delete-button:hover {
  opacity: 0.8;
}

.extension-error-metadata > .error-delete-button:active {
  opacity: 1.0;
}

.extension-error-severity-info .extension-error-message {
  color: #333;
}
.extension-error-severity-info .extension-error-icon,
.extension-error-info-icon {
  content: url(extension_error_severity_info.png);
}

.extension-error-severity-warning .extension-error-message {
  color: rgba(250, 145, 0, 255);
}
.extension-error-severity-warning .extension-error-icon,
.extension-error-warning-icon {
  content: url(extension_error_severity_warning.png);
}

.extension-error-severity-fatal .extension-error-message {
  color: rgba(200, 50, 50, 255);
}
.extension-error-severity-fatal .extension-error-icon,
.extension-error-fatal-icon {
  content: url(extension_error_severity_fatal.png);
}
