:host {
  -webkit-transition: opacity 400ms ease-in-out;
  background-color: #ccc;
  color: #555;
  display: table;
  font-family: sans-serif;
  font-size: 15px;
  height: 100%;
  pointer-events: none;
  position: fixed;
  text-align: center;
  width: 100%;
}

#message {
  padding-bottom: 10px;
}

.center {
  display: table-cell;
  vertical-align: middle;
}

.form {
  border: 1px solid #777;
  box-shadow: 1px 1px 1px;
  display: inline-block;
  padding: 10px;
  width: 300px;
}

#successMessage {
  display: inline-block;
  padding-left: 5px;
  pointer-events: none;
}

input {
  color: #333;
  pointer-events: all;
}