/* Copyright 2014 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

#about-container {
  align-items: center;
  display: flex;
}

#page-container #about-container {
  margin-top: 10px;
}

#product-description {
  -webkit-margin-start: 10px;
}

@-webkit-keyframes spin {
  to { transform: rotate(-10turn); }
}

#product-logo.spin {
  -webkit-animation: spin 500ms cubic-bezier(1, 0, 0, 1) forwards;
}

#version-container {
  margin-top: 30px;
}

#update-buttons-container {
  margin-top: 5px;
}

#update-status-container {
  margin-bottom: 12px;
  margin-top: 10px;
}

#update-status {
  vertical-align: middle;
}

#update-percentage {
  font-size: 90%;
}

#get-help,
#promote {
  -webkit-margin-end: 4px;
}

#help-container {
  margin-top: 16px;
}

#product-container {
  line-height: 1.8em;
  margin-top: 200px;
}

.overlay #product-container {
  margin-top: 30px;
}

.help-page-icon {
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  height: 18px;
  vertical-align: middle;
  width: 18px;
}

#update-status-icon.up-to-date {
  background-image: url(../../../../ui/webui/resources/images/check_circle.svg);
  background-size: 18px;
}

#update-status-icon.working {
  background-image: url(chrome://resources/images/throbber_small.svg);
  background-size: 16px;
}

#update-status-icon.failed {
  background-image: url(chrome://resources/images/error.svg);
  background-size: 18px;
}

#update-status-icon.disabled-by-admin {
  background-image: url(../../../../ui/webui/resources/images/business.svg);
  background-size: 18px;
}

#controlled-feature-icon {
  background-image: url(../../../../ui/webui/resources/images/business.svg);
  background-size: 18px;
}

#eol-status-icon {
  background-image: url(../../../../ui/webui/resources/images/eol.svg);
  background-size: 18px;
}

#eol-status-container {
  margin-bottom: 12px;
  margin-top: 10px;
}

#eol-status-message-container {
  -webkit-margin-start: 8px;
  display: inline-block;
  vertical-align: middle;
}

#update-status-message-container {
  -webkit-margin-start: 8px;
  display: inline-block;
  vertical-align: middle;
}

#more-info-expander {
  -webkit-padding-start: 0;
  margin-top: 10px;
}

#more-info-container.visible {
  margin-bottom: 10px;
}

#more-info-container {
  -webkit-transition: all 200ms;
  height: 0;
  margin-bottom: 0;
  overflow: hidden;
}

#build-date-container.empty {
  visibility: hidden;
}

#channel-change-confirmation {
  margin-top: 5px;
}

#change-channel {
  margin-top: 8px;
}

#channel-change-disallowed-icon,
.channel-change-error-icon {
  -webkit-margin-start: 4px;
  background-image: url(../../../../ui/webui/resources/images/business.svg);
  background-size: 18px;
}

.channel-change-error-bubble {
  display: flex;
}

.channel-change-error-bubble .channel-change-error-icon {
  vertical-align: top;
}

.channel-change-error-text {
  -webkit-margin-start: 4px;
  display: block;
  vertical-align: top;
  width: 240px;
}

#regulatory-label-container {
  padding-top: 32px;
}

#regulatory-label {
  display: block;
  width: 330px;
}
