/* Copyright 2014 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

.search-box {
  -webkit-user-select: none;
  position: relative;
}

.search-box-icon {
  -webkit-user-select: none;
  display: inline-block;
  height: 12px;
  left: 8px;
  position: absolute;
  right: 8px;
  top: 6px;
  width: 12px;
}

.search-box-input {
  text-indent: 24px;
  width: 100%;
}
