/* Copyright 2013 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/* Overrides for the desktop user manager screen. */

.oobe-display {
  background-color: #eee;
}

#outer-container {
  min-height: 0;
}

.bubble.faded {
  opacity: 0;
}

.pod {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  height: 226px;
  /* On non-retina desktop, the text is blurry if we use the scale3d()
  inherited from user_pod_row.js */
  transform: scale(0.9);
}

podrow[ncolumns='6'] .pod {
  transform: scale(0.8);
}

/* Because of crbug.com/406529, the text in the .name div is janky if there's
both a transform:scale and a transition:opacity applied to a div, so we must
apply the opacity change to the children instead. */
.pod.faded {
  opacity: 1;
}

.pod.faded .user-image-pane,
.pod.faded .main-pane {
  opacity: .4;
}

.pod.hovered:not(.focused) {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.pod.focused {
  box-shadow: 0 16px 21px rgba(0, 0, 0, 0.2);
  transform: scale(1) !important;
}

.pod.focused.locked {
  box-shadow: 0 12px 21px rgba(0, 0, 0, 0.2);
  height: 220px;
}

.user-image-pane {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  height: 180px;
  left: 0;
  top: 0;
  width: 180px;
}

html[dir=rtl] .user-image-pane {
  right: 0;
}

.pod .name {
  margin-top: 12px;
}

.pod .user-image {
  height: 180px;
  width: 180px;
}

.pod input[type='password'] {
  height: 45px;  /* 1px shorter as to not overlap the pod's rounded corners */
  top: 1px;
}

.pod .indicator-container {
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 16px;
  height: 32px;
  left: 8px;
  position: absolute;
  top: 8px;
}

html[dir=rtl] .pod .indicators {
  left: auto;
  right: 8px;
}

.pod .indicator {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 18px;
  display: none;
  float: left;
  height: 32px;
  width: 32px;
}

/* Using -webkit-mask on the indicators allows us to tweak the color. */
.pod .indicator-container > div {
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 24px;
}

.pod.locked .locked-indicator {
  -webkit-mask-image: url(../../../../ui/webui/resources/images/lock.svg);
  background-color: #757575;
  display: initial;
}

.pod.legacy-supervised .legacy-supervised-indicator {
  -webkit-mask-image:
      url(../../../../ui/webui/resources/images/supervisor_account.svg);
  background-color: rgb(66, 133, 244);
  display: initial;
}

.pod.child .child-indicator {
  -webkit-mask-image:
      url(../../../../ui/webui/resources/images/account_child_invert.svg);
  background-color: rgb(66, 133, 244);
  display: initial;
}

.main-pane {
  left: 0;
  top: 0;
}

html[dir=rtl] .main-pane {
  right: 0;
}

.name-container,
.pod.focused:not(.multiprofiles-policy-applied) .auth-container {
  top: 180px;
  width: 180px;
}

.pod.focused:not(.locked) .name-container {
  display: block;
}

.pod .name {
  color: #363636;
  font-size: 15px;
  margin-top: 11px;
}

.pod.focused:not(.locked) .auth-container {
  display: none;
}

.pod[auth-type='offlinePassword'].focused.locked .password-entry-container {
  display: flex;
  flex: auto;
}

.action-box-area {
  background-color: #f5f5f5;
  height: 24px;
  /* Because of crbug.com/406529, the text in the .name div is janky if there's
  an opacity transition in this div. */
  transition: none;
  width: 24px;
}

.action-box-button,
.action-box-button:hover,
.action-box-area.active .action-box-button {
  background-image: none;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #989898;
  height: 0;
  left: 6px;
  margin: 0;
  position: absolute;
  top: 9px;
  width: 0;
}

.action-box-button:hover,
.action-box-area.active .action-box-button {
  border-top: 6px solid #4c4c4c;
}

.action-box-remove-user-warning .remove-warning-button {
  background: rgb(197, 57, 41);
  border-radius: 2px;
  color: white;
  font-weight: 500;
  line-height: 32px;
  padding: 0 16px;
  width: 100%;
}

.action-box-remove-user-warning .remove-warning-button[focused] {
  background: rgb(173, 50, 36);
  font-weight: 500;
}
