/* Copyright 2014 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* These styles are used bby both reset_profile_settings_banner.html and
 * automatic_settings_reset_banner.html. */

.settings-banner {
  background-color: #f5f5f5;
  border-color: #c8c8c8;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 24px;
  margin-top: 20px;
  max-width: 716px;
  position: relative;
}

.settings-banner > .close-button {
  background-image: url('chrome://theme/IDR_CLOSE_DIALOG');
  background-position: center;
  background-repeat: no-repeat;
  height: 14px;
  opacity: 0.5;
  position: absolute;
  right: 4px;
  top: 4px;
  width: 14px;
}

html[dir='rtl'] .settings-banner > .close-button {
  left: 4px;
  right: auto;
}

.settings-banner > .close-button:hover {
  background-image: url('chrome://theme/IDR_CLOSE_DIALOG_H');
}

.settings-banner > .close-button:active {
  background-image: url('chrome://theme/IDR_CLOSE_DIALOG_P');
}

.settings-banner .content-area {
  -webkit-box-align: center;
  display: -webkit-box;
  padding: 17px;
}

.settings-banner .content-area .badge {
  background-image: url(yellow_gear.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 55px;
  width: 58px;
}

.settings-banner .content-area .text {
  -webkit-box-flex: 1.0;
  -webkit-margin-start: 18px;
}

.settings-banner .content-area .text p {
  -webkit-margin-after: 0;
  -webkit-margin-before: 0;
}

.settings-banner .content-area .button-area  {
  -webkit-margin-start: 54px;
}

.settings-banner .nowrap  {
  white-space: nowrap;
}

.settings-banner button {
  margin-bottom: 1px;
  margin-right: 0;
}

#secondary-user-banner .content-area .badge {
  background-color: rgb(210, 210, 212);
  background-image: url(chrome://theme/IDR_SECONDARY_USER_SETTINGS);
}
