/* Copyright 2013 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

#confirm-password {
  height: 609px;  /* Should be the same as #gaia-signin. */
  padding: 70px;
  width: 722px;  /* Should be the same as #gaia-signin. */
}

#confirm-password .step-contents {
  -webkit-box-pack: center;
  display: -webkit-box;
  height: 100%;
}

#confirm-password-main {
  height: 100%;
  width: 310px;
}

#confirm-password-title {
  font-weight: bold;
}

#confirm-password-input-container {
  margin-bottom: 1em;
}

#confirm-password-error {
  color: rgb(221, 75, 57);
  margin-top: .5em;
}

#confirm-password:not(.error) #confirm-password-error {
  display: none;
}

#confirm-password-divider {
  margin-left: 44px;
  margin-right: 30px;
}

#confirm-password-right {
  -webkit-box-flex: 1;
  margin-top: 1em;
}

<include src="gaia.css">
