/* Copyright 2013 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#channel-change-page {
  min-height: 200px;
  width: 500px;
}

.channel-change-page-channel label {
  margin-left: 10px;
}

.channel-change-page-channel {
  display: block;
  margin: 0 25px;
}

.show-when-selected-channel-requires-powerwash,
.show-when-selected-channel-requires-delayed-update,
.show-when-selected-channel-good,
.show-when-selected-channel-unstable {
  display: none !important;
}

.selected-channel-requires-powerwash
.show-when-selected-channel-requires-powerwash,
.selected-channel-requires-delayed-update
.show-when-selected-channel-requires-delayed-update,
.selected-channel-good .show-when-selected-channel-good,
.selected-channel-unstable .show-when-selected-channel-unstable {
  display: block !important;
}
