/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */


#custom-controller {
  display: inline-block;
  height: 142px;
  width: 100%;
}

#route-action-buttons {
  @apply(--layout-horizontal);
  @apply(--layout-end-justified);
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.route-button {
  -webkit-padding-end: 24px;
  -webkit-padding-start: 0;
  background-color: white;
  line-height: 12px;
  margin: 12px 0;
  text-align: end;
}

#route-information {
  -webkit-padding-end: var(--dialog-padding-end);
  -webkit-padding-start: 44px;
  background-color: white;
  font-size: 1.2em;
  line-height: 1.5em;
  margin-top: 16px;
  overflow: hidden;
}
