/dev/null                 0666   root       root
/dev/zero                 0666   root       root
/dev/full                 0666   root       root
/dev/ptmx                 0666   root       root
/dev/tty                  0666   root       root
/dev/random               0666   root       root
/dev/urandom              0666   root       root
/dev/ashmem               0666   root       root
/dev/binder               0666   root       root

# logger should be world writable (for logging) but not readable
/dev/log/*                0662   root       log

# these should not be world writable
/dev/tty0                 0660   root       system

# Configure custom device permissions.
/dev/fts                0660    root    system
/dev/galois_cc          0660    root    system
/dev/galois_pe          0600    root    system
/dev/galois_pe_agent    0660    root    system
/dev/gpio               0660    root    system
/dev/graphics/gal3d     0666    root    system
/dev/graphics/galcore   0660    root    system
/dev/mem                0660    root    system
/dev/shm_cache          0666    root    system
/dev/shm_noncache       0666    root    system
/dev/twsi0              0660    root    system
/dev/twsi1              0660    root    system
/dev/twsi2              0660    root    system
/dev/twsi3              0660    root    system
