/* Copyright 2013 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

html,
body {
  -webkit-user-select: none;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

#doodle {
  display: none;
  justify-content: center;
}

#default_logo {
  background-image: url(../../../../ui/webui/resources/images/google_logo.svg);
  background-repeat: no-repeat;
  height: 92px;
  margin: auto;
  width: 272px;
}

#logo_container {
  bottom: 0;
  position: absolute;
  width: 100%;
}
