/* Copyright 2013 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

:host {
  -webkit-transition: opacity 400ms ease-in-out;
  background: rgb(29, 39, 57);
  border-radius: 5px;
  bottom: 26px;
  box-shadow: 0 1px 2px gray, 0 3px 3px rgba(0, 0, 0, .2);
  height: auto;
  left: 26px;
  pointer-events: none;
  position: fixed;
  width: auto;
}

.scaler {
  -webkit-transform: scale(0.25);
  -webkit-transform-origin: 0 0;
  float: left;
  height: 44px;
  margin: 8px;
  width: 44px;
}

#segments {
  border-radius: 50%;
  height: 176px;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 176px;
}

.segment {
  -webkit-transform-origin: 0 100%;
  background: rgb(227, 234, 249);
  box-shadow: 0 0 0 6px rgb(29, 39, 57) inset;
  height: 50%;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
}

.center-circle {
  background-color: rgb(29, 39, 57);
  border-radius: 50%;
  height: 80px;
  left: 44px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 44px;
  width: 80px;
}

#text {
  color: rgb(227, 234, 249);
  float: left;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 58px;
  margin-right: 10px;
  margin-top: 1px;
}
