/* Copyright 2016 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

body {
  box-sizing: border-box;
  color: var(--paper-grey-900);
  display: flex;
  flex-direction: column;
  font-size: 100%;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
}

a {
  color: var(--google-blue-500);
  text-decoration: none;
}

ol {
  margin: 0;
  padding: 0;
}

strong {
  font-weight: 500;
}

.content {
  margin: 0 auto;
  padding: 4em 1.5em 1.5em 1.5em;
}

.header-logo {
  content: url(chrome://welcome-win10/logo-large.png);
  height: 4em;
}

.heading {
  font-size: 2.125em;
  line-height: 1.6em;
  margin-bottom: 0.5em;
  margin-top: 1.2em;
}

.sections {
  margin-bottom: 2em;
}

.section.expandable {
  border-top: 1px solid var(--google-grey-300);
}

.section.expandable:last-child {
  border-bottom: 1px solid var(--google-grey-300);
}

.section.expandable .section-heading {
  color: var(--google-blue-500);
  cursor: pointer;
}

.section-heading {
  align-items: center;
  display: flex;
  padding: 1.5em 0;
}

.section-heading-text {
  flex: 1;
  font-weight: 500;
}

.section.expandable .section-heading-text {
  font-weight: normal;
}

.section.expandable.expanded .section-heading-text {
  font-weight: 500;
}

.section-heading-expand {
  height: 1.25em;
  opacity: 0.54;
  transition: transform 150ms cubic-bezier(.4, .2, 0, 1) 50ms;
  width: 1.25em;
}

.section.expandable.expanded .section-heading-expand {
  transform: rotate(180deg);
  transition-delay: 150ms;
}

.section-steps {
  overflow: hidden;
}

.section-steps li {
  -webkit-margin-start: 1.25em;
  -webkit-padding-start: 1em;
  margin-bottom: 1em;
}

.section-steps li:last-child {
  margin-bottom: 1em;
}

.section.expandable .section-steps {
  max-height: 0;
  opacity: 0;
  transition: max-height 300ms cubic-bezier(.4, .2, 0, 1) 50ms, opacity 150ms;
}

.section.expandable.expanded .section-steps {
  max-height: 28.75em;
  opacity: 1;
  transition: max-height 300ms cubic-bezier(.4, .2, 0, 1) 50ms,
              opacity 150ms 250ms;
}

.button {
  -webkit-font-smoothing: antialiased;
  background: var(--google-blue-500);
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .1);
  color: #fff;
  display: inline-block;
  font-size: .8125em;
  font-weight: 500;
  line-height: 2.25rem;
  padding: 0 1em;
  text-align: center;
  transition: 300ms cubic-bezier(.4, .2, 0, 1);
  will-change: box-shadow;
}

.button:hover {
  background: var(--paper-blue-a400);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .1), 0 1px 2px rgba(0, 0, 0, .24)
}

.logo-small {
  content: url(chrome://welcome-win10/logo-small.png);
  display: inline;
  height: 1.25em;
  vertical-align: top;
  width: 1.25em;
}

.screenshot {
  display: block;
  height: 440px;
  margin: 0 auto;
  max-width: 100%;
  position: relative;
  top: -96px;
  width: 720px;
}

.screenshot-image {
  box-shadow:  0 0 0 1px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
  height: 48vw;
  margin: 1em 0;
  max-height: 300px;
  max-width: 400px;
  min-height: 150px;
  min-width: 200px;
  position: relative;
  width: 64vw;
}

#screenshot-image--default {
  background: -webkit-image-set(
    url(https://www.gstatic.com/chrome/login/win10/default-small.webp) 1x,
    url(https://www.gstatic.com/chrome/login/win10/default-small@2x.webp) 2x);
  background-repeat: no-repeat;
  background-size: cover;
}

#screenshot-image--taskbar {
  background: -webkit-image-set(
    url(https://www.gstatic.com/chrome/login/win10/pin-small.webp) 1x,
    url(https://www.gstatic.com/chrome/login/win10/pin-small@2x.webp) 2x);
  background-repeat: no-repeat;
  background-size: cover;
}

.screenshot-html-overlay {
  box-sizing: border-box;
  font-size: 6px;
  line-height: 0;
  position: absolute;
}

#screenshot-html-overlay--browser {
  left: 54.8%;
  top: 53%;
}

#screenshot-html-overlay--edge {
  left: 65%;
  top: 63.5%;
}

#screenshot-html-overlay--taskbar {
  left: 31%;
  top: 73%;
}

#screenshot-html-overlay--taskbar div {
  color: #ccc;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-weight: 500;
}

#screenshot-html-overlay--icon {
  background-image: url(/logo-small.png);
  background-size: cover;
  height: 8%;
  left: 46%;
  top: 90%;
  width: 6%;
}

/* This value is precisely set so that the text over the screenshot starts
 * scaling at the same time the image starts scaling too. */
@media (min-width: 312px) {
  .screenshot-html-overlay {
    font-size: 1.95vw;
  }
}

/* Font-size used when the screenshot exactly reaches its max size. */
@media (min-width: 626px) {
  .screenshot-html-overlay {
    font-size: 12.2px;
  }
}
