#Number of characters per field
MaxBoxCount	=   30

#The shaperecognizer project and profile name
BoxedShapeProject = numerals
BoxedShapeProfile 	= default

#Min confidence from shape recognizer
MinShapeConfid = 0

#Number of choices requested from the shape recognizer
NumShapeChoices = 3

