body,div, dl, h1, h2, h3, h4, h5, h6, html, img,
dd, dt, embed, form, object, td, tr, canvas, command, group, mark, meter,
output, progress, summary, audio, time, video {
  border: 0;
  margin: 0;
  padding: 0;
}
html {
  background: #fff;
  color: #333;
  direction: ltr;
  font: 81.25% arial, helvetica, sans-serif;
  line-height: 1;
}
h1, h2, h3, h4, h5, h6 {
  color: #222;
  font-size: 1.54em;
  font-weight: normal;
  line-height: 24px;
  margin: 0 0 .46em;
}
strong {
  color: #222;
}
body, html {
  height: 100%;
  min-width: 100%;
  position: absolute;
}
.wrapper {
  min-height: 100%;
  position: relative;
}
.content {
  padding: 0 44px;
}
.main {
  margin: 0 auto;
  padding-bottom: 100px;
  padding-top: 23px;
  width: 650px;
}
button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
}
input[type=email],
input[type=number],
input[type=password],
input[type=text],
input[type=url] {
  -webkit-border-radius: 1px;
  -webkit-box-sizing: border-box;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 1px;
  border-top: 1px solid #c0c0c0;
  box-sizing: border-box;
  display: inline-block;
  height: 29px;
  margin: 0;
  padding-left: 8px;
}
input[type=email]:hover,
input[type=number]:hover,
input[type=password]:hover,
input[type=text]:hover,
input[type=url]:hover {
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
input[type=email]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=text]:focus,
input[type=url]:focus {
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
  border: 1px solid #4d90fe;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
  outline: none;
}
input[type=email][disabled=disabled],
input[type=number][disabled=disabled],
input[type=password][disabled=disabled],
input[type=text][disabled=disabled],
input[type=url][disabled=disabled] {
  background: #f5f5f5;
  border: 1px solid #e5e5e5;
}
input[type=email][disabled=disabled]:hover,
input[type=number][disabled=disabled]:hover,
input[type=password][disabled=disabled]:hover,
input[type=text][disabled=disabled]:hover,
input[type=url][disabled=disabled]:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.g-button {
  -webkit-border-radius: 2px;
  -webkit-transition: all 218ms;
  -webkit-user-select: none;
  background-color: #f5f5f5;
  background-image: linear-gradient(to bottom, #f5f5f5, #f1f1f1);
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 2px;
  color: #555;
  cursor: default;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  height: 27px;
  line-height: 27px;
  min-width: 54px;
  padding: 0 8px;
  text-align: center;
  transition: all 218ms;
  user-select: none;
}
*+html .g-button {
  min-width: 70px;
}
button.g-button,
input[type=submit].g-button {
  height: 29px;
  line-height: 29px;
  margin: 0;
  vertical-align: bottom;
}
*+html button.g-button,
*+html input[type=submit].g-button {
  overflow: visible;
}
.g-button:hover {
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  -webkit-transition: all 0;
  background-color: #f8f8f8;
  background-image: linear-gradient(to bottom, #f8f8f8, #f1f1f1);
  border: 1px solid #c6c6c6;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  color: #333;
  text-decoration: none;
  transition: all 0;
}
.g-button:active {
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  background-color: #f6f6f6;
  background-image: linear-gradient(to bottom, #f6f6f6, #f1f1f1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
.g-button:visited {
  color: #666;
}
.g-button-submit {
  background-color: #4d90fe;
  background-image: linear-gradient(to bottom, #4d90fe, #4787ed);
  border: 1px solid #3079ed;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
}
.g-button-submit:hover {
  background-color: #357ae8;
  background-image: linear-gradient(to bottom, #4d90fe, #357ae8);
  border: 1px solid #2f5bb7;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.3);
}
.g-button-submit:active {
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
}
.g-button-submit:visited {
  color: #fff;
}
.g-button-submit:focus {
  -webkit-box-shadow: inset 0 0 0 1px #fff;
  box-shadow: inset 0 0 0 1px #fff;
}
.g-button-submit:focus:hover {
  -webkit-box-shadow: inset 0 0 0 1px #fff, 0 1px 1px rgba(0,0,0,0.1);
  box-shadow: inset 0 0 0 1px #fff, 0 1px 1px rgba(0,0,0,0.1);
}
.g-button:hover img {
  opacity: .72;
}
.g-button:active img {
  opacity: 1;
}
.errormsg {
  color: #dd4b39;
  display: block;
  line-height: 17px;
  margin: .5em 0 0;
}
input[type=email].form-error,
input[type=number].form-error,
input[type=password].form-error,
input[type=text].form-error,
input[type=url].form-error,
input[type=text].field-error,
input[type=password].field-error {
  border: 1px solid #dd4b39;
}
html {
  background: transparent;
}
.content {
  width: auto;
}
.main {
  padding-bottom: 12px;
  padding-top: 23px;
}
.signin-box h2 {
  font-size: 16px;
  height: 16px;
  line-height: 17px;
  margin: 0 0 1.2em;
  position: relative;
}
.signin-box label {
  display: block;
  margin: 0 0 1.5em;
}
.signin-box input[type=text],
.signin-box input[type=password] {
  font-size: 15px;
  height: 32px;
  width: 100%;
}
.signin-box .email-label,
.signin-box .passwd-label {
  -webkit-user-select: none;
  display: block;
  font-weight: bold;
  margin: 0 0 .5em;
  user-select: none;
}
.signin-box input[type=submit] {
  font-size: 13px;
  height: 32px;
  margin: 0 1.5em 1.2em 0;
}
.errormsg {
  display: none;
}
.form-error + .errormsg,
.field-error + .errormsg {
  display: block;
}
